body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
.see{
    background-color: white;
    padding: 30px;
}

.top{
    background-color: rgb(199, 195, 195);
    padding: 20px;
    border-radius: 7px;
}

.second-top{
    background-color: white;
    padding: 10px;
}

h1, p{
    text-align: center;
}

.second-top img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}